.footer {
  background: #111;
  color: white;
  padding-top: 70px;
  margin-top: 80px;
}

.footer-container {
  width: 88%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-section h2,
.footer-section h3 {
  margin-bottom: 20px;
}

.footer-section h2 {
  color: #ff9f1c;
}

.footer-section p,
.footer-section a {
  display: block;
  color: #d0d0d0;
  margin-bottom: 12px;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section a:hover,
.footer-section p:hover {
  color: #ff9f1c;
}

.footer-bottom {
  text-align: center;
  margin-top: 50px;
  padding: 25px 0;
  border-top: 1px solid #333;
  color: #999;
}

@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}